#about
  Shortenious is the web's shortest url shortener
#form
  %input.txt#link{"name" => "link", "type"=>"textbox", "placeholder"=>"Link"}
  #id-input
    #label http://shortenious.chrisp.gr/
    %input.txt#id{"name" => "id", "type"=>"textbox", "placeholder"=>"link-id"}
    #result
    %button#submit Shorten
