#about
  Shortenious is the web's simplest url shortener
#form
  %form{"method" => "post"}
    %input.txt#link{"name" => "link", "type"=>"textbox", "placeholder"=>"Link"}
    #id-input
      #label http://shortenious.heroku.com/
      %input.txt#id{"name" => "id", "type"=>"textbox", "placeholder"=>"link-id"}
    %button#submit Shorten
